<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editer: {{movie.primaryTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="emitClose()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <div class="input-group fields input-group-md">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-md">Titre principal</span>
            </div>
            <input
                [(ngModel)]="movie.primaryTitle"
                name="primaryTitle"
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-md"
                placeholder="{{movie.primaryTitle}}"
            >
            </div>
            <div class="input-group fields input-group-md">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-md">Année de création</span>
            </div>
            <input
                [(ngModel)]="movie.startYear"
                name="startYear"
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-md"
                placeholder="{{movie.startYear}}"
            >
            </div>
            <div class="input-group fields input-group-md">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-md">Genres</span>
            </div>
            <input
                [(ngModel)]="newGenre"
                name="genres"
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-md"
                placeholder="Entrez un nouveau genre ..."
            >
            <div class="input-group-append">
                <button (click)="addNewGenre()" class="btn btn-outline-secondary" type="button" id="button-addon2">Ajouter</button>
            </div>
            </div>
            <div class="genre-container" *ngIf="movie.genres.length > 0">
            <button (click)="removeGenre(genre)" *ngFor="let genre of movie.genres.split(',')" class="tag btn btn-primary" type="submit">
                {{genre}}
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveMovie(movie)">Save</button>
    </div>
</div>