
<div class="main-container">
  <h1 class="main-title">Recherchez un film</h1>
  <div class="search-wrapper">
    <div class="input-group fields input-group-md">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-md">Titre du film</span>
      </div>
      <input
        [(ngModel)]="primaryTitle"
        (input)="searchMovie()"
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-md"
      >
    </div>

    <div class="input-group fields input-group-md">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-md">Titre d'origine</span>
      </div>
      <input
        [(ngModel)]="originalTitle"
        (input)="searchMovie()"
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-md"
      >
    </div>

    <div class="input-group fields input-group-md">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-md">Année de creation</span>
      </div>
      <input
        [(ngModel)]="startYear"
        (input)="searchMovie()"
        type="number"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-md"
      >
    </div>
  </div>
  <table class="results table table-striped">
    <thead>
    <tr>
      <th scope="col">Original Title</th>
      <th scope="col">Start Year</th>
      <th scope="col">Genres</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of result">
      <td>
        {{ movie.originalTitle}}
      </td>
      <td>{{ movie.startYear }}</td>
      <td>{{ movie.genres }}</td>
      <td>
        <button class="btn btn-md btn-outline-primary" (click)="open(content, movie)">Modifier</button>
    </td>
    </tr>
    </tbody>
  </table>
  <ng-template #content>
    <app-edit-modal (saved)="handleSaved()" (close)="handleClose()" [movie]="currentMovie">
    </app-edit-modal>
  </ng-template>
</div>


