.main-container {
    .main-title {
        text-align: center;
        margin: 10px 0;
    }
    .search-wrapper {
        margin: auto;
        align-self: center;
        width: 500px;
        padding: 20px 0;
    }
    .results {
        width: 80%;
        margin: auto;
    }
}

.fields {
    padding: 10px 0;
}

.tag {
    border-radius: 100px;
    margin: 10px;
}

  /* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}